.profile {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.1fr 2.5fr 1.2fr;
    padding: 20px;
    height: 100%;
    background-color: #a9d2c4;
}

.profile img {
    align-items: start;
    width: 20vw;
	/* max-width: 150px;*/
    height: auto;
    border-radius: 50px;
    justify-self: self-end;
}

.user {
    position: fixed;
    grid-column: 1;
    /* padding: 0.2vw; */
	width: 20vw;
	/* max-width: 225px; */
}

.stat {
    grid-column: 2;
    border-left: 2px solid #305653;
}

.friends {
    grid-column: 3;
    border-left: 2px solid #305653;
}

.stat img {
    align-items: start;
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 30px;
    justify-self: self-end;
}

.friends img {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 30px;
    justify-self: self-end;
}

.achievement img{
    width: auto;
    max-height: 5vw;
    border-radius: 10px;
    padding: 2px;
}

